.p-badge-purple {
    background-color: #6310BE !important;
    color: #ffffff !important;
}

.p-badge-orange {
    background-color: #ff3f00 !important;
    color: #ffffff !important;
}

.p-badge-grey {
    background-color: #b0a9a9 !important;
    color: #ffffff !important;
}

.p-badge-ciano {
    background-color: #14d8d3 !important;
    color: #ffffff !important;
}