.login-body .login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-body .login-content .night-switch {
  position: absolute;
  right: 20px;
  top: 10px;
}

.login-body .login-content .night-switch .p-button {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  outline: none;
  z-index: 101;
}

.login-body .login-content .night-switch .p-button .pi {
  width: 32px;
  height: 32px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.login-body .login-content .night-switch .p-button .p-button-label {
  display: none;
}

.login-body .login-content .night-switch .p-button:enabled:hover {
  border: none;
  opacity: 0.7;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.login-body .login-content .login-panel {
  width: 40%;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-body .login-content .login-panel .login-panel-content {
  z-index: 100;
  width: 80%;
  padding: 0 6%;
  text-align: center;
}

.login-body .login-content .login-panel .login-panel-content .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-body .login-content .login-panel .login-panel-content .logo img {
  width: 80px;
}

.login-body .login-content .login-panel .login-panel-content h1 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 20px 0;
  color: #ffffff;
}

.login-body .login-content .login-panel .login-panel-content p {
  margin-top: 10px;
  font-size: 16px;
  color: #d8dee9;
}

.login-body .login-content .login-panel .login-panel-content .forms {
  margin-top: 30px;
  text-align: left;
}

.login-body .login-content .login-panel .login-panel-content .forms .login-input-wrapper {
  position: relative;
  margin-bottom: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.login-body .login-content .login-panel .login-panel-content .forms .login-input-wrapper input {
  width: 100%;
  padding-right: 16px;
  background-color: transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #c3ccdd;
  margin-top: 6px;
}

.login-body .login-content .login-panel .login-panel-content .forms .login-input-wrapper i {
  position: absolute;
  color: #d8dee9;
  font-size: 16px;
  top: 50%;
  right: 0.429em;
  margin-top: 3px;
}

.login-body .login-content .login-panel .login-panel-content .forms .p-checkbox.p-component {
  margin-left: -6px;
}

.login-body .login-content .login-panel .login-panel-content .forms label {
  color: #c3ccdd;
}

.login-body .login-content .login-panel .login-panel-content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-body .login-content .login-panel .login-panel-content .buttons .p-button {
  margin-top: 15px;
  border: none;
  min-width: 120px;
}

.login-body .login-content .login-panel .login-panel-content .buttons a.secondary-button {
  background-color: transparent;
  border: none;
  color: #c3ccdd;
  padding: 2px 0;
  text-decoration: underline;
}

.login-body .login-content .image-bottom {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  background-image: url("../../../images/image-bottom.svg");
}

.login-body.layout-light {
  background-color: #eceff4;
}

.login-body.layout-light .login-content .night-switch .p-button {
  color: #5a657c;
  border: none;
}

.login-body.layout-light .login-content .night-switch .p-button.light-switch {
  display: none;
}

.login-body.layout-light .login-content .login-panel {
  background-color: rgba(216, 222, 233, 0.3);
}

.login-body.layout-light .login-content .login-panel .login-panel-content h1 {
  color: #2e3440;
}

.login-body.layout-light .login-content .login-panel .login-panel-content p {
  color: #5a657c;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .forms .login-input-wrapper input {
  border: solid 1px #cccccc;
  background-color: #ffffff;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .forms .login-input-wrapper i {
  color: #9199a9;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .forms label {
  color: #4c566a;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .buttons button.secondary-button, .login-body.layout-light .login-content .login-panel .login-panel-content .buttons a.secondary-button {
  background-color: transparent;
  color: #9199a9;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .buttons button.secondary-button:enabled:hover, .login-body.layout-light .login-content .login-panel .login-panel-content .buttons a.secondary-button:enabled:hover {
  background-color: transparent;
  color: #636975;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.login-body.layout-light .login-content .login-panel .login-panel-content .buttons button:enabled:hover, .login-body.layout-light .login-content .login-panel .login-panel-content .buttons a:enabled:hover {
  background-color: #76a1d6;
  -moz-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.login-body.layout-light .login-content .image-bottom {
  display: block;
}

@media (max-width: 740px) {
  .login-body .login-content .login-panel {
    width: 100%;
  }
  .login-body .login-content .login-panel .login-panel-content {
    width: 85%;
    padding: 20px 15px 50px;
  }
  .login-body .login-content .login-panel .login-panel-content h1 {
    font-size: 18px;
  }
  .login-body .login-content .login-panel .login-panel-content P {
    font-size: 16px;
  }
  .login-body .login-content .image-bottom {
    background-position: right;
  }
}
